html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 126px;
  font-family:"Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width:1024px) {
  body {
    margin-top: 60px;
  }
}
