.site-head__time {
}
.site-head-time {
  display: flex;
  align-items: center;
  
  &::before {
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url("../../img/clock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
  }

  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}
.site-head-time__inner {
}
.site-head__time-title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #00B007;
  
}
.site-head__time-text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #272727;
  
}