.reviews {
  padding-bottom: 70px;
}
.container {
}
.reviews__container {
}
.reviews__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px; 
  color: #272727;
  max-width: 452px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  &::before {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    width: 50px;
    height: 3px;
    background-color: #FFD600;
  }
  
  &::after {
    content: ":D :P";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 275px;
    height: 152px;
    font-size: 130px;
    line-height: 152px;
    text-align: center;
    color: rgba(0, 0, 0, 0.05);
  }
}
.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 463px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4D4D4D;
  opacity: 0.88;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 49px;
  overflow-x: hidden;
}
