.services {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container {
}
.services__container {
}
.services__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;
  text-align: center;
  position: relative;
  
  &::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50px;
    height: 3px;
    background-color: #FFD600;
  }
  
  &::after {
    content: ":D :P";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 275px;
    height: 152px;
    font-size: 130px;
    line-height: 152px;
    text-align: center;
    color: rgba(0, 0, 0, 0.05);
  }
}
.services__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}
.services__inner {
  display: flex;
  align-items: center;
  
}
.services__button {
  background-color: transparent;
  padding: 0;
  border: none;
  min-width: 42px;
  height: 49px;
  border: 2px solid #1D6ECB;
  border-radius: 5px;
  background-position: center;
  background-size: 21px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.services__button--pervios {
  background-image: url("../img/Polygon.svg");
  transform: rotate(-180deg);
}
.services__button--next {
  order: 1;
  background-image: url("../img/Polygon.svg");
}

@media only screen and (max-width:600px) {
  .services__button {
    display: none;
  }
}
.services__list {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 26px;
  margin-right: 26px;
  list-style: none;
  display: flex;
  overflow: hidden;
  
}
